.prodlist li {
  float: left;
}

.breadcrumb {
  width: 100%;
}

#drawerCategories .prodlist {
  width: 270px;
  position: relative;
}

#drawerCategories .prodlist li {
  width: 230px;
}

#configuratorContainer h3 {
  background: #b42618;
}