
#templates	{display:none;}

/* css reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	}



/* should match the family and color set in the ztxt class */
body	{font-family:Arial, Helvetica, sans-serif; color: #000000; margin:0; padding:0; font-size: 80%; background:url(mbo_bodytag_bg-1700x515.jpg) no-repeat top center #ffffff;}

/* removes bottom padding/margin from form in old browsers */
form	{display:inline;}

a	{color:#990000;} /* this color should match the color set in zlink */
a:hover	{color:#990000;}

img	{border:0; vertical-align: baseline;} /* vertical-align: baseline; removes the whitespace sometimes added under an image. use floats if needed */

button {display:inline-block; margin: 0; padding: 0; cursor:pointer !important;}


h1  {font-size:1.6em; color:#000000; font-weight:bold;} /* Used for the page title element */

/* used for the wiki header 1 & 2 */
h2	{font-size:1.4em; color:#333333; font-weight:bold;}
h3, legend	{font-size:1.3em; color:#616161; font-weight:bold;}
h4	{font-size:1.2em; color:#666666; font-weight:bold;}
h5	{font-size:1.1em; color:#666666; font-weight:bold;}
h6	{font-size:1em; color:#666666; font-weight:bold;}


p	{margin-bottom:12px;}

/* chrome and safari add an outer border/glow to the input in focus. this removes it. */
input:focus {
	outline:none;
	}

button:focus	{outline:none;}








/* loading classes. do NOT change class name. change styling as needed */
.loadingBG	{background:url(//static.zoovy.com/graphics/layouts/checkout-20111031/loading_blue-28x28.gif) no-repeat center center; min-height:28px;}


.pointer	{cursor:pointer;}



/* used when an element needs to start of hidden */
.displayNone	{display:none;}



.spriteBG	{background:url(mbo_sprite-500x346.png) no-repeat;}


.no_underline a	{text-decoration:none;} /* this should be left alone */

.floatLeft	{float:left;}
.floatRight	{float:right;}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.alignCenter	{text-align:center;}
.alignLeft	{text-align:left;}
.alignRight	{text-align:right;}

div.center	{text-align:center;}


table.center	{
	margin-left: auto;
	margin-right: auto;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
td	{vertical-align:top;}


.lineThrough	{text-decoration:line-through}
.underline	{text-decoration:underline; cursor:pointer} /* only use this on clickable text */


.noListStyle, .noListStyle li	{list-style:none;}






.marginBottom	{margin-bottom:12px;}
.stdMargin	{margin:12px;}

.padMargBorderBottom	{margin-bottom:40px;}






/* wrapper*/



.contentWidth	{width:950px; margin:0 auto; clear:both;}
.horRule	{border-top:1px solid #e5e5e5; border-bottom:1px solid #d3d3d3; clear:both;}
.vertRule	{border-left:1px solid #939494; border-right:1px solid #636365;}


#topHead	{height:29px; line-height:29px; background:#ffffff;} /* contains phone, menu etc. appears above logo et all */
#topHead nav	{margin:0 6px; margin-right:14px;}
#topHead nav a	{padding:0 6px;}
#topHead .phoneNumber	{font-size:.8em}
#topHead .phoneNumber span	{font-size:1.5em; font-weight:bold; padding-right:20px;}

#mastHead	{background:url(mbo_mastheadbg4-991x142.png) no-repeat bottom center; width:991px; height:199px; position:relative; margin:0 auto;}
#mastHead .topBanner	{position:absolute; top:0px; left:0px; height:60px; width:970px; z-index:5;}

#mastHead .wideBanner	{position:absolute; bottom:0; left:260px; height:82px; width:690px; z-index:5;}
#mastHead .wideBannerTopHalf {position:absolute; bottom:82px; left:260px; height:42px; width:460px; z-index:5;}

#mastHead .logo			{width:210px; height:155px; position:absolute; left:42px; bottom:42px; z-index:10;}
#mastHead .decalLeft	{width:137px; height:50px; position:absolute; right:132px; top:10px; z-index:6; }
#mastHead .decalRight	{width:116px; height:50px; position:absolute; right:9px; top:10px; z-index:6; }
#headerKeywords		{position:absolute; top:85px; right:55px; z-index:5; width:190px; line-height:26px; height:26px; padding:0; margin:0; font-size:1em; border:0; background:none; z-index:5}
#headerSearchSubmit	{position:absolute; top:82px; right:17px; z-index:5;}


#bodyContainer	{background:url(mbo_body_bg-991x455.png) no-repeat top center; min-height:455px; margin:0 auto; width:991px;}


#newsSubscribe	{background:url(mbo_newsbg-1x81.png) repeat-x; height:81px;}
.newsContainer	{padding:20px 0;}
.newsHead	{background-position:-230px -50px; width:200px; height:41px; display:block; flaot:left; margin-right:20px;}
.twoBorder	{border:0; border-top:1px solid #adaeb1; border-right:1px solid #adaeb1; margin-right:20px; height:28px; line-height:26px; padding:0; text-indent:5px; width:250px;}


/* social decals row */
#socialLinks	{padding:5px 0;}
.facebook	{background-position:-225px 0px; width:125px; height:41px;}
.twitter	{background-position:-375px 0px; width:125px; height:41px;}

.miniCartText	{color:#ffffff; font-size:.9em;}
.itemCount	{padding-left:33px; }
.bigMinicart .itemCount	{line-height:52px;}


#footer	{
	height:274px;
	}

#footer a	{color:#ffffff; text-decoration:none; display:block; line-height:150%;}
#footer h6	{color:#ffffff; font-size:1.2em; font-weight:normal; margin:12px 0; padding:0; font-weight:bold; text-transform:uppercase;}

#footer .column	{margin-right:20px;}
#footer .vertRule	{float:left; margin:12px 45px; height:150px}
/* imagery */


.minicart	{background-position:0 0; width:177px; height:30px;}
.submit	{background-position:-2px -48px; width:86px; height:29px; border:0;}
.bigMinicart	{background-position:-2px -93px; width:275px; height:94px; margin-top:12px;}

#contactInfo	{background:height:34px; line-height:34px; font-size:.9em} /* url(mbo_contact_bg-1x34.png) repeat-x;  */
#contactInfo .phoneNumber	{font-weight:bold;}
.poweredByZoovy	{margin-left:24px;}




/* gradients - just the gradient styles. any other styles needed should be handled on a separate class.
allows for recycling of the graident styles, which can be lengthy */

.dgray2Black	{
	background: rgb(88,89,91);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4NTk1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(88,89,91,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,89,91,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(88,89,91,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(88,89,91,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(88,89,91,1) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(top,  rgba(88,89,91,1) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58595b', endColorstr='#000000',GradientType=0 );
	}

.white2LGray	{
		background: rgb(252,252,252);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNWM3YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(197,199,201,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(197,199,201,1)));
	background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(197,199,201,1) 100%);
	background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(197,199,201,1) 100%);
	background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(197,199,201,1) 100%);
	background: linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(197,199,201,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#c5c7c9',GradientType=0 );
	}



/* category page template */

.leftColumn	{width:232px; float:left;} 
#leftCol nav li	a {display:block; padding:1px 6px; text-decoration:none; margin-bottom:3px;}
.mainColumn	{width:710px; float:right; overflow:hidden;} /* hidden is here to compensate for some interior elements set to a wider with to accomodate margins/columns */ 

#catPageTopContent	{clear:both;}

.pageHeader	{position:relative; width:700px; height:330px; background:url(mob_catheadbg-722x150.png) no-repeat bottom;}
.pageHeader .pagePic1	{position:absolute; top:5px; left:5px;}
.pageHeader .pageHeader1	{position:absolute; top:5px; right:5px; width:350px; font-size:1em; color:#333333;}

.pageHeader .pageDescription1	{position:absolute; top:30px; right:5px; width:350px; line-height:1.1em;}
.pageHeader .pagePic2	{position:absolute; top:165px; right:170px;}
.pageHeader .pagePic3	{position:absolute; top:165px; right:95px;}
.pageHeader .pagePic4	{position:absolute; top:165px; right:15px;}
.pageHeader .pageHeader2	{position:absolute; top:240px; right:50px; width:350px; text-align:right; font-size:1.2em; color:#ffffff;}

.header_subcats1	{
	padding:5px 12px; border:1px solid #cccccc;
	font-size:1.2em;
	color:#000000;
	margin-bottom:5px;
background: #DCDDDE;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2RjZGRkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2RjZGRkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(220,221,222,1) 30%, rgba(220,221,222,1) 71%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(30%,rgba(220,221,222,1)), color-stop(71%,rgba(220,221,222,1)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(220,221,222,1) 30%,rgba(220,221,222,1) 71%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(220,221,222,1) 30%,rgba(220,221,222,1) 71%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(220,221,222,1) 30%,rgba(220,221,222,1) 71%,rgba(255,255,255,1) 100%);
background: linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(220,221,222,1) 30%,rgba(220,221,222,1) 71%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ffffff',GradientType=0 );

	
	}

#subscribeFormContainer label	{width:150px; display:inline-block;}
#subscribeFormContainer div	{margin-bottom:5px;}


/* minicart modal styles */

#cartSummary	{margin:9px 12px;}
#cartViewerForm table	{width:100%; margin-top:12px;}
#cartViewerContentsContainer {padding-right:12px;} /* left column of cart */
#cartSummaryTotalsContainer {width:45%; font-weight:normal;} /* right column of cart */

#cartSummaryTotalsContainer .ui-widget	{padding:4px;}
#cartSummaryTotalsContainer .ui-widget-header	{padding:3px 12px;}
#cartViewerForm .prodOptions .prompt:after	{content:": "}

#cartSummaryTotals	{line-height:160%; margin-bottom:12px;}




/* login modal */
.loginOption fieldset div	{margin-bottom:12px;}
.loginOption label	{width:120px; text-align:right; display:block; float:left; clear:left;}
.loginOption label:after	{margin-right:12px; content:":"}







/* product viewer */

#prodViewerTable {width:950px;}
#productViewer table	{width:100%;}
#productViewer td.imageContainer	{width:312px;}
#productViewer .prodBigImage	{margin-right:12px; margin-bottom:12px;}



/* top right portion of viewer */

.prodSummaryContainer h6	{float:right;} /* pid */
.prodSummaryContainer h2	{margin-bottom:12px;} /* price */

.prodSummaryContainer .instock	{color:#006600;}
.prodSummaryContainer .outofstock	{color:#660000;}
.prodSummaryContainer .latency	{margin-bottom:12px;} /* handles margin below stock and latency messaging */

.prodViewerAddToCartForm fieldset	{margin:12px 0;}
.prodSummaryContainer .addToCartButton {margin:12px 0; padding:4px 8px; cursor:pointer;} /* add breathing room. padding makes button stand out a bit more */

.prodSummaryContainer menu	{padding:12px 0; display:block; clear:both;}
.prodSummaryContainer menu button	{margin:0 12px 12px 0; padding:2px 4px;}


#tabbedProductContent .tabs li	{display:none;} /* tabs are hidden by default. enabled if field is populated */
#tabbedProductContent #prodReviewsTab	{display:block;} /* reviews tab always shows up */

.smallProdlist ul, .smallProdlist	{list-style:none; clear:both; margin-bottom:12px;}
.smallProdlist li	{display:block;}
#prodlistChildren .prodThumb	{height:50px; width:50px;}

#prodlistRelatedContainer	{width:400px; margin-left:12px; padding-top:12px;} /* proximus.js will resize. here as a failsafe */
#prodlistRelatedContainer h3	{margin-left:-12px;} /* compensate for container margin. for alignment */


.reviewLineItem {padding-bottom:12px; display:block; clear:both;}
.prodReviewInfo	{float:left; display:block; width:150px; list-style:none; margin:0 12px 12px 0; font-weight:normal;}
.prodReviewInfo li	{display:block; clear:both;}
.prodReviewTemplate li p	{font-weight:normal;}

/*
the child list and loading graphic should only show up IF the product is a parent.
so the displayNone class is used, then a .grpType_PARENT class is added if the item is a parent.
*/
.grpType_PARENT	{display:block; margin-bottom:12px;}








/* content area styles */
hgroup.breadcrumbContainer	{padding-bottom:12px;}
#breadcrumb	{float:left;}
.breadcrumbContainer, .breadcrumbContainer h1	{list-style:none; float:left; font-size:.9em; line-height:1em; margin:0; padding:0; }
.breadcrumbContainer h1	{color:#AB1F15; float:left; font-size:1em;}
.breadcrumbContainer li	{ float:left; display:block;}
.breadcrumbContainer li:after {content: ">"; padding-left: 12px; margin-right:12px;}
.breadcrumbContainer li a.ui-state-default	{background:none; text-decoration:none; border:none;}



/* subcategory list */

#subcategoryListContainer	{list-style:none;  clear:both; margin-bottom:12px;}
.bigCatListItem {
	box-sizing:content-box;
	-moz-box-sizing:content-box; /* Firefox */
	-webkit-box-sizing:content-box; /* Safari */
	border:1px solid #cccccc; width:167px; height:194px; float:left; margin-right:12px; position:relative; font-size:.8em; overflow:hidden;
	}
.bigCatListItem .thumbContainer	{width:167px; height:167px; background:#ffffff;} /* the container 'saves' the space if the image isn't present. */

.bigCatListItem .name	{
	color:#1a1a1a; padding:8px;
	border-top:1px solid #e5e5e5;
	text-transform:uppercase;
	text-align:center;
	font-size:1.1em;
	}



/* root categories for left column of category page */
.rootCats	{
	color:#1a1a1a;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	padding:4px 12px;
	border:1px solid #e5e5e5;

	font-size:1.1em;
	margin-bottom:2px;
	clear:both;
	}

.rootCats .catThumbContainer	{
	box-sizing:content-box;
	-moz-box-sizing:content-box; /* Firefox */
	-webkit-box-sizing:content-box; /* Safari */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	float:left;
	margin-right:12px;
	width:65px;
	height:65px;
	border:1px solid #000000;
	cursor:pointer;
	}
.rootCats .catPretty	{font-size:1.3em; text-transform:uppercase;	vertical-align:middle; display:table-cell; height:65px;} /* set height to image height */




#mainContentArea article h1	{margin-bottom:12px;}
.textContentArea article h4, .textContentArea article h3, .textContentArea article p 	{margin-bottom:12px;}
.textContentArea article p {font-weight:normal;}

#contactForm {float:right; margin: 0 0 12px 12px;}
#contactForm fieldset	{border:1px solid #cccccc; padding:10px;}
#contactForm div	{margin-bottom:5px}
#contactForm label	{width:105px; display:inline-block; margin-right:6px; vertical-align:top; text-align:right;}
#contactForm input, #contactForm textarea	{width:145px;}
#contactForm textarea	{height:125px;}

 
 
#mainCol .ui-state-success {
    background: #e4f2ff;
    border: 1px solid #bbd6ef;
    color: #363636;
	}




/* some styles for the system created forms */
div.zform_div 	{clear:both; padding-top:12px;}
div.zform_div label	{padding-right:12px;}
div.zform_div input[type="radio"]	{clear:left; display:inline-block;}
div.zform_div input[type="radio"]:before {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}




/* table that contains the order contents in order history once detail is open */
.orderContentsTable	{width:100%;}

/* container for order prodlist list */
.orderContentsProdlistContainer {padding-left:12px;}
#orderHistoryContainer address	{font-weight:normal; text-transform:none; font-style:normal; margin-bottom:12px;}
#orderHistoryContainer h3, #orderHistoryContainer h4	{margin:0px; padding:0;}


/* for accordian-esque styling where there are clickable-headers but more than one section can be open at a time. (faq, order history, etc) */

.appAccordianesque .ui-accordion-header {padding:3px 24px;}





/* reviews stars */

.reviewSprite	{background:url(reviews_stars-150x150.png) no-repeat; width:122px; height:21px; display:block;}
.review_1, .review_2	{background-position:0 0;}
.review_3, .review_4	{background-position:0 -26px;}
.review_4, .review_6	{background-position:0 -53px;}
.review_7, .review_8	{background-position:0 -79px;}
.review_9, .review_10	{background-position:0 -106px;}






/* product list (both cat page and search results) */

/* a default used for making sure images in a product list are a reasonable size. */
.prodlist	{list-style:none; clear:both;margin-bottom:12px;}
.prodlist li	{margin:0 0 12px 0; position:relative; display:block; border-bottom:1px solid #cccccc; padding-bottom:12px;}
.prodlist li:last-child	{border-bottom:0;}

.prodlist li .prodThumbContainer	{margin-right:12px; float:left; position:relative;}
.prodlist li .prodThumb	{border:1px solid #cccccc;}
.prodlist .prodThumbContainer .magGlassIcon	{position:absolute; bottom:0; left:0;}
.prodlist li .nameNDesc	{font-weight:normal; margin-right:12px; float:left; width:325px;}
.prodlist li .nameNDesc h6	{margin-bottom:8px;}
.prodlist li .prodDesc	{margin-bottom:12px;}
.prodlist li .prodPrice	{font-weight:bold;}

.prodlist li  .priceEtAll	{float:right; text-align:right;}

.prodlist li .qtyAdd	{margin-bottom:12px;}
.prodlist li .addContainerLink	{background-position: -5px -210px; width:210px; height:35px; display:inline-block;}

.addToCartButton	{background-position: -365px -95px; width:120px; height:22px; border:0; padding:0; margin:0 0 0 12px; font-size:0px; cursor:pointer;}
.prodlist .atcSuccessMessage	{clear:both; margin:6px 0;}

.showInCustomizer	{margin-top:12px;}

/* lineitem prodlist. can be used for order history, cart, checkout, etc */
.lineItemProdlist {list-style:none;}
.lineItemProdlist li	{clear:both;}
.lineItemProdlist img.prodThumb 	{float:left; margin:0 12px 12px 0;}
.lineItemProdlist .infoContainer	{ font-weight:normal;}
.lineItemProdlist .infoContainer h4	{margin:0; line-height:120%;}

.prodOptions	{font-size:.7em;}
.prodOptions .prompt:after {content:": "; padding-right:12px;}




/* multipage controls */
.mpControls	{clear:both; display:block; padding:6px 12px; position:relative;}
.mpControls span.ui-state-active	{padding: 2px 4px;}






/*

CAROUSEL STYLES 
used for accessories in cart.
uses jcarousel.
*/
#cartAccessoriesCarouselContainer h2	{margin-bottom:12px;}
#cartAccessoriesCarousel li	{height:150px; width:150px;}




.jcarousel-skin-proximus .jcarousel-container {}

.jcarousel-skin-proximus .jcarousel-container-horizontal {
	width: auto;
	padding: 0 10px;
	}

.jcarousel-skin-proximus .jcarousel-container-vertical {
	width: auto;
	height: 245px;
	padding: 10px 0;
	}

.jcarousel-skin-proximus .jcarousel-clip-horizontal {
/*	height: 150px; */
	width: auto;
	}

.jcarousel-skin-proximus .jcarousel-clip-vertical {
	width: auto;
	height: 245px;
	}

/*
the 'li' width is required, but is set on individual classes (like .prodlist) outside of the carousel, to be more flexible
.jcarousel-skin-proximus .jcarousel-item {
    width: 150px;
    height: 150px;
	}

*/

.jcarousel-skin-proximus .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 12px;
	}

.jcarousel-skin-proximus .jcarousel-item-vertical {
    margin-bottom: 12px;
	}

.jcarousel-skin-proximus .jcarousel-item-placeholder {
    background: none;
    color: #000;
	}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-proximus .jcarousel-next-horizontal {
	position: absolute;
    width: 22px;
    height: 75px;
	right: -20px;
	top:60px;
    background: transparent url(sprite_bg_v1-275x275.png) no-repeat -140px -149px;
	cursor:pointer;
	}

.jcarousel-skin-proximus .jcarousel-next-disabled-horizontal,
.jcarousel-skin-proximus .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-proximus .jcarousel-next-disabled-horizontal:active {
    cursor: default;
	filter: alpha(opacity=50);
	opacity:0.5;
	}

.jcarousel-skin-proximus .jcarousel-prev-horizontal {
    position: absolute;
    top: 60px;
    left: -20px;
    width: 22px;
    height: 75px;
    cursor: pointer;
    background: transparent url(sprite_bg_v1-275x275.png) no-repeat -106px -149px;
	}

.jcarousel-skin-proximus .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-proximus .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-proximus .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
	filter: alpha(opacity=50);
	opacity:0.5;
	}



/**
 *  Vertical Buttons
 */
.jcarousel-skin-proximus .jcarousel-next-vertical {
    position: absolute;
    bottom: 0px;
    width: 75px;
    height: 23px;
    cursor: pointer;
    background: url(sprite_bg_v1-275x275.png) no-repeat -11px -190px transparent;
	}

.jcarousel-skin-proximus .jcarousel-next-vertical:hover {
	}

.jcarousel-skin-proximus .jcarousel-next-vertical:active {
	}

.jcarousel-skin-proximus .jcarousel-next-disabled-vertical,
.jcarousel-skin-proximus .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-proximus .jcarousel-next-disabled-vertical:active {
    cursor: default;
	filter: alpha(opacity=50);
	opacity:0.5;

	}

.jcarousel-skin-proximus .jcarousel-prev-vertical {
    position: absolute;
    top: 0px;
    width: 75px;
    height: 23px;
    cursor: pointer;
    background: url(sprite_bg_v1-275x275.png) no-repeat -11px -155px transparent;
	}

.jcarousel-skin-proximus .jcarousel-prev-vertical:hover {
	}

.jcarousel-skin-proximus .jcarousel-prev-vertical:active {
	}

.jcarousel-skin-proximus .jcarousel-prev-disabled-vertical,
.jcarousel-skin-proximus .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-proximus .jcarousel-prev-disabled-vertical:active {
    cursor: default;
	filter: alpha(opacity=50);
	opacity:0.5;
	}












/*   





CHECKOUT STYLES







*/



/*
general css
*/



/* the padding is needed for buttons that use loadingButtonBG.  this is applied to all buttons for the sake of consistency */
#zCheckoutContainer button	{padding:3px 20px;}


/*
don't set background: because the bgcolor is set by another class and this is just for adding the image.
*/
.loadingButtonBg	{background-image:url(loading_white-16x16.gif); background-repeat: no-repeat; background-position: 2px center;}


/* some generic styles that may get overwritten later by id-specific styles. don't add a width to this. test checkout if any changes made. */
.noListStyle li	{text-align:left;}
.noListStyle label	{vertical-align:top; display:inline-block; margin-right:10px;}









/* error handling css. some error css is defined in the jqueryui styles */

#globalMessaging .ui-icon	{float:left; margin:auto 5px;}
#globalMessaging .appMessage {padding:5px;} /* add padding to children, not parent, that way we can empty the parent and no space is reserved */

.appMessage ul	{margin-left:12px; font-size:.9em;}




/* -----------------> CHECKOUT  <----------------- */

/* some global styles, within checkout. */

#checkoutFrm label	{vertical-align:top}

.checkoutFormContainer legend	{padding:3px 12px; margin-left:12px;}
.checkoutFormContainer fieldset	{padding:12px; margin-bottom:12px;}



#chkoutSummaryErrors	{clear:both;}
#chkoutSummaryErrors li	{text-align:right;}

#zCheckoutContainer .ui-widget p	{margin:3px;}



#globalCheckoutErrors	{text-align:right;}

#giftCardContainer	{padding:5px 0px 5px 0px; border-bottom:1px dashed #efefef; display:block; text-align:left;}
#giftCardContainer	label	{padding-right:12px;}
#giftCardContainer	button	{margin-left:12px;}

#couponContainer	{clear:both;}
#couponFrmContainer	{clear:both;}



#chkoutPreflightFieldset	{width:auto;}

#chkoutPreflightFieldset .preflightInputContainer	{float:left; margin-right:24px; padding-bottom:12px;}
#chkoutPreflightFieldset .preflightInputContainer .h2	{margin-bottom:12px;}

#chkoutPreflightFieldset div button	{margin-left:12px;}

#preflightGuestInputs label,
#preflightAccountInputs label,
#preflightAuthenticatedInputs label	{width:140px; display:inline-block;}



.checkoutFormContainer fieldset, #chkoutCartSummary	{margin:0 0px 12px 0; min-height:50px;}
.checkoutFormContainer fieldset textarea	{width:80%; height:100px;}

#chkoutBillAddressFieldset label:after, 
#chkoutAccountInfoFieldset label:after, 
#chkoutPreflightFieldset label:after, 
#chkoutShipAddressFieldset label:after,
.paybySupplemental label:after { content: ":"; }

#chkoutBillAddressFieldset label, 
#chkoutAccountInfoFieldset label, 
#chkoutShipAddressFieldset label, 
.paybySupplemental label { width:140px; }

#chkout-create_customerContainer label	{width:auto;}
#chkout-create_customerContainer label:after	{content: ""}

#chkoutSummaryTotalsContainer	{float:right; width:35%;}
#chkoutCartContents	{float:left; width:60%}


#chkoutPlaceOrderBtn	{font-size:1.5em; font-weight:bold; 
	clear:both; margin:12px 0;
	}


#zCheckoutFrm address	{display:block; float:left; margin:12px; border:1px solid #cccccc; padding:10px; font-style:normal; text-align:left;} /* use a white border (if not colored) so elements don't shift when 'selected' class is added. */

#zCheckoutFrm fieldset li	{margin-bottom:12px;}

/* the entry after the comma below handles 'supplemental' labels (under radio buttons, like in payment) */
#zCheckoutFrm fieldset li label, #zCheckoutFrm fieldset li.paycon ul label	{text-align:right; padding-right:12px; display:inline-block;}


#zCheckoutFrm fieldset input[type=text], #zCheckoutFrm fieldset input[type=tel], #zCheckoutFrm fieldset input[type=password], #zCheckoutFrm fieldset input[type=email]	{width:220px;}
#zCheckoutFrm .checkbox	label	{text-align:left; width:240px;}
#zCheckoutFrm .checkbox	{ padding-left:120px; clear:both;}


#zCheckoutFrm fieldset li.paycon, #zCheckoutFrm fieldset li.shipcon	{margin-top:10px; }
#zCheckoutFrm fieldset li.paycon label, #zCheckoutFrm fieldset li.shipcon label	{text-align:left; line-height:1.4em;}


#zCheckoutFrm fieldset li.bill_zip input, #zCheckoutFrm fieldset li.ship_zip input	{width:80px;}
#zCheckoutFrm fieldset li.bill_state, #zCheckoutFrm fieldset li.ship_state	{float:left;}
#zCheckoutFrm fieldset li.bill_state input, #zCheckoutFrm fieldset li.ship_state input, #zCheckoutFrm fieldset .bankState	{width:40px;}

#zCheckoutFrm fieldset p	{clear:both;}

.mandatory input[type=text], .mandatory input[type=tel], .mandatory select	{border:1px solid #990000}
.mandatory label{color:#990000; font-weight:bold;}
.mandatory span:after	{content: "*";}


.paybySupplemental {padding:12px; font-weight:normal; border-top-width:0;}
.paybySupplemental .zform_select {margin-right:12px;}


.facebookSendLineItem	{float:left; margin:3px;}
.facebookSendLineItem img	{height:65px; width:56px;}


/* error containers */
p.zwarn, ul.zwarn	{border:1px solid #cc0000; padding:5px; margin:0 0 12px 0; background:#ffd6d6; clear:both; text-align:left;}
ul.zwarn li	{margin-left:15px;}

/* applied to fieldset once validated */
.validatedFieldset	{} /* border:1px solid #006600 */
.validatedFieldset legend	{} /* background-image:url(images/checkmark-25x26.png); background-position: top right; background-repeat: no-repeat; */



/* -----------------> CONFIGURATOR  <----------------- */
/* most styles are in a separate css file. these are 'site specific' classes */

#configuratorAddToCartBtn	{border:0; padding:0; margin:0; height:34px; width:162px; background-position: -319px -131px; font-size:0;}
#configSocialBookmarklets	{text-align:right;}
.printIcon	{background-position: -120px -55px; width:22px; height:17px; display:inline-block; font-size:0px;}


/* -----------------> POST-CHECKOUT MARKETING PAGE  <----------------- */

.checkoutSuccess	{margin:20px 0;}


.ocmThirdParty	{ line-height:200%; width:300px;}
.ocmThirdParty .ocm	{margin:0 5px 5px 0;  float:left;}



/* for search resulsts page */
#altSearchesContainer, #recentSearchesContainer {margin-bottom:12px;}
#altSearchesContainer li, #recentSearchesContainer li	{padding:1px 8px;}
#altSearchesContainer a, #recentSearchesContainer a	{text-decoration:none;}
#altSearchesContainer h3, #recentSearchesContainer h3	{padding:1px 8px; font-size:1.2em; font-weight:bold;}




/* Pure CSS3 Multi Level Drop Down Navigation Menu */
/*             http://www.bloggermint.com/demos/darknavmenu/#            */


/* menu container */
.ddUlMenu {
	overflow: hidden;
	}
.ddUlMenu ul {
	margin:0;
	padding:0;
	list-style:none;
	}

/* tier1 menu behavior */
.ddUlMenu ul li {
	margin:0;
	padding:0;
	list-style:none;
	}

/* tier 1 menu link style (ok to change this). will affect tier2 also */
.ddUlMenu ul li a {
	float: left;
	text-decoration:none;
	padding:0 12px;
	cursor:pointer;
	}


.ddUlMenu li ul {
	background:#efefef;
	left: -999em;
	margin: 14px 0px 0 -20px; /* top margin should = tier 1 line-height - 1px...ish */
	position: absolute;
	width: 160px;
	z-index: 9999;
	border:1px solid #cccccc;
	}

.ddUlMenu li:hover ul {
	left: auto;
	}

/* tier 2 nav */
.ddUlMenu li ul li	{cursor:pointer;} /* click is likely binded to li, so make it all a cursor */
.ddUlMenu li ul a {
	background: none;
	line-height:24px;
	font-weight:normal; font-size:.8em;
	display:block;
	border: 0 none;
	width: 160px;
	}
