/*


####################################################         READ    ME        ################################

This file is owned by JT.
If you edit it, you better have a good reason.
If you edit it and don't version it you will invoke my wrath.
If you edit it, don't version it and break the app... use your imagination here.


*/


.displayNone	{display:none;}

#templates	{display:none;}
#configuratorContainer img	{border:none;}

/*
.mpControlPages	{float:right; margin:0; padding:0;}
.mpControlPages li	{list-style:none; float:left; margin:0 3px; border:1px solid #cccccc; padding:0px 4px;  cursor:pointer; display:block;}


.mpControls	{display:block; margin-bottom:10px; border:1px solid #cccccc; background:#f0f0f0; padding:5px;}
li.prodlistLineItem	{float:left; list-style:none; width:120px; height:190px; text-align:center;}
*/

ul.prodlist	{list-style:none; margin:0; padding:0;}
ul.prodlist li	{list-style:none;}



/* MyOwnersBox (mob) configurator styles */

/* do not add overflow hidden cuz chooser needs to be visible */
#configuratorContainer	{height:610px; width:936px; position:relative;}
#configuratorLeftColumn		{position:absolute; top:0; left:0; width:290px; height:610px;} 
#configuratorMiddleColumn	{position:absolute; top:0; left:290px; width:466px; height:610px;}
#configuratorRightColumn	{position:absolute; top:0; right:0; width:180px; height:610px; }


.loadingBG	{background:url(loading_red_circle-16x16.gif) no-repeat center center; min-height:16px;}


#configuratorContainer h3{
	color:#ffffff;
	margin:0;
	margin-bottom:5px;
	padding:3px 10px;
	display:block; clear:both; font-size:11px;
	font-weight:normal;
	background: #b42618; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0MjYxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YTFmMTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b42618 0%, #9a1f18 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b42618), color-stop(100%,#9a1f18)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b42618 0%,#9a1f18 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b42618 0%,#9a1f18 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b42618 0%,#9a1f18 100%); /* IE10+ */
	background: linear-gradient(top,  #b42618 0%,#9a1f18 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b42618', endColorstr='#9a1f18',GradientType=0 ); /* IE6-8 */
	}

#configuratorContainer h3 b	{font-size:12px;}

/* useful/shared styles */
.noListStyle, .noListStyle ul, .noListStyle li	{list-style:none;}
.noPadOrMargin, .noPadOrMargin ul, .noPadOrMargin li	{margin:0; padding:0;}







/* LEFT COLUMN */




/* step 1 */

/* holder for dropdown menu. */
#storageContainerCatContainer	{margin-bottom:5px; margin-left:8px; width:252px; line-height:26px; background:url(mbo_conf_contcatbg-252x26.png) no-repeat #ffffff; position:relative; z-index:1000; font-size:11px; font-weight:normal;}



/*  step #2  */

/* thumbnail display for storage containers.*/
#storageContainerProdlist	{display:block; position:relative; z-index:1; margin:0} /* change this to 60 if no 360view is present */
#storageContainerProdlist li	{float:left; margin:5px; position:relative; border:1px solid #ffffff; width:75px;  height:84px; text-align:center; cursor:pointer;} /* white border is so no jitter occurs when grey border added via 'selected' */
.storageContainerProdlistItem img	{width:55px; height:55px; display:block; z-index:5; position:relative; margin:0 auto;}

#storageContainerProdlist li.selected	{border:1px solid #787878;}
#storageContainerProdlist li span	{display:none;}
#storageContainerProdlist li.selected span	{display:block; z-index:1000; position:absolute; top:0px; right:0px; background:url(mbo_checkbox-13x13.png) no-repeat; width:13px; height:13px;}




/* step #3 */

/* category list item. also applied to each drawer.  */
#drawerCategories li	{
	margin:8px 0; display:block; clear:both; 
	min-height:30px;
	color:#000000; font-size:11px;
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */
	}

#drawerCategories .arrow	{display:block; float:right; width:14px; height:14px; background:url(mbo_arrow_rt-9x14.png) no-repeat; margin:4px 4px 0 0;}
#drawerCategories .selected .arrow	{background:url(mbo_arrow_dwn-14x9.png) no-repeat; margin:6px 4px 0 0;}
#drawerCategories .catName	{line-height:22px; }
#drawerCategories  img.catThumb	{height:35px; width:35px; margin-right:5px; position:relative; top:-5px;}

#drawerCategories .mobDrawerChooser	{margin-top:5px;}
#drawerCategories .prodlist	{margin-bottom:10px; height:195px; overflow:auto; clear:both; width:290px;}
#drawerCategories .prodlist li	{border:1px solid #acacac; height:45px; display:block; margin:5px 0; vertical-align:middle;}
#drawerCategories .prodlist .magGlassIcon	{background:url(mbo_magglass-33x33.png) no-repeat; display:block; height:33px; width:33px; cursor:pointer;}

#drawerCategories .prodlist img	{position:relative; top:-5px; margin-right:5px; width:70px; height:55px;}


/* CENTER COLUMN */

#configuratorMiddleColumn	{background:url(mbo_conf_prevbg-466x569.png) no-repeat;}

#previewContainer	{position:relative; z-index:1;}

/* used for big storage container image. */
#bgImageContainer	{position:absolute; z-index:1; top:0; left:20px; width:429px; height:429px;}
.bgImageContainer_3x3	{background:url(mbo_conf_bg-429x429-3x3.png) no-repeat;}
.bgImageContainer_2x3	{background:url(mbo_conf_bg-429x429-2x3.png) no-repeat;}
.bgImageContainer_3x1	{background:url(mbo_conf_bg-429x429-3x1.png) no-repeat;}


/* the class applied to the selectedDrawerContainer div will handle positioning based on the size of the storage container selected */
#selectedDrawerContainer	{position:absolute; z-index:10; overflow:hidden;}
.selectedDrawerContainer_3x3	{width: 450px; height:450px; top:15px; left:36px}
.selectedDrawerContainer_2x3	{width: 270px; height:400px; top:15px; left:108px}
.selectedDrawerContainer_3x1	{width: 450px; height:131px; top:282px; left:36px}

#selectedDrawerContainer ul, 
#selectedDrawerContainer li		{list-style:none; margin:0; padding:0;}

#selectedDrawerContainer li	{height:131px; width:131px; float:left; display:block; margin:0 3px 3px 0; position:relative;}
#selectedDrawerContainer .number	{
	font-size:14px; font-weight:bold; 
	color:#5a5b5d; position:absolute;
	top:5px; left:5px;
	padding:3px 7px; margin:0; 
	border:1px solid #c4c4c4;
	background: rgb(253,253,253);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjN2M4Y2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(253,253,253,1) 0%, rgba(199,200,202,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(100%,rgba(199,200,202,1)));
	background: -webkit-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(199,200,202,1) 100%);
	background: -o-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(199,200,202,1) 100%);
	background: -ms-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(199,200,202,1) 100%);
	background: linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(199,200,202,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#c7c8ca',GradientType=0 );
	}







/* CHOOSER - what appears when a drawer is clicked */

/* inline popup that appears for drawer location chooser (when a drawer is clicked */
#drawerLocationChooser	{border:1px solid #666666; background:#ffffff; width:280px; position:fixed; z-index:10000; left:-2000px; font-size:11px;} /* the 'position' function in jquery can't effect a hidden element, so we just start position offscreen */

.drawerLocationChooser li	{list-style:none; height:35px; width:35px; float:left; display:block; margin:5px; border:1px solid #990000; cursor:pointer; padding:0;}

/* thumbnail for drawer categories (not product) */
.mobDrawerChooser img	{width:35px; height:35px; float:left;} /* sets height and width of image element. JS reads this to determine W/H of image loaded. */


/* contains the 'list' of spots to be clicked */
#drawerLocationChooserListContainer	{float:left; margin:0; padding:0; list-style:none; overflow:hidden;}

.drawerLocationChooserListContainer_3x3	{height: 145px; width:145px; }
.drawerLocationChooserListContainer_2x3	{height:145px; width:100px; }
.drawerLocationChooserListContainer_3x1	{height: 45px; width:145px;}

/* contains the right column, text and button included. */
#drawerChooserText	{float:right; width:120px; ; margin:5px;}
#drawerChooserText button	{float:right; font-size:11px; border:1px solid #cccccc; background:#efefef; }
#drawerChooserText p	{clear:both;}

#drawerChooserAddToAllBtn	{clear:both; display:block; background:#000000; color:#ffffff; border:0; margin:0 0 5px 5px;}




/* RIGHT COLUMN */
#configuratorRightColumn h3	{margin-bottom:0;}
#configuratorRightColumn h4	{
	color:#ffffff; font-weight:normal; padding:3px 10px;
	margin:0;
	display:block; clear:both; font-size:11px;
	background: rgb(118,118,118);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc2NzY3NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjA0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(118,118,118,1) 0%, rgba(2,4,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(118,118,118,1)), color-stop(100%,rgba(2,4,0,1)));
	background: -webkit-linear-gradient(top,  rgba(118,118,118,1) 0%,rgba(2,4,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(118,118,118,1) 0%,rgba(2,4,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(118,118,118,1) 0%,rgba(2,4,0,1) 100%);
	background: linear-gradient(top,  rgba(118,118,118,1) 0%,rgba(2,4,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767676', endColorstr='#020400',GradientType=0 );
}

#configuratorRightColumn ul {list-style:none; margin:0 5px; padding:0;} 
#configuratorRightColumn li	{padding:5px; margin:5px 0; border-bottom:1px solid #cdcdcd; color:#171717; font-size:11px; vertical-align:middle}
#configuratorRightColumn li	.number	{margin:0 5px;}
#configuratorRightColumn li	button	{font-size:9px; font-weight:normal; padding:0; border:1px solid #a9a9a9; color:#6f6f6f;}
#configuratorRightColumn li.empty	{color:#bdbdbb;}

#configuratorRightColumn #selectedDrawersList img	{float:left; margin-right:4px;}


/* image enlargement */
#image-modal	{text-align:center;}





/*------------------------------------*\
	All CSS Drop Down Menu
\*------------------------------------*/

.cssDDMenu ul,
ul.cssDDMenu,
.cssDDMenu ol,
.cssDDMenu li	{
	margin:0;
	padding:0;
	width:100%;
	}

.cssDDMenu{
	list-style:none;
	/* Clear floats */
	float:left;
	width:100%;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}
.cssDDMenu li{
	float:left;
	position:relative;
	}
.cssDDMenu a{
	display:block;
	padding:0 5px;
	color:#333;
	text-decoration:none;
	}
.cssDDMenu a:hover{
	color:#333;
	text-decoration:underline;
	}

/*--- DROPDOWN ---*/
.cssDDMenu ul{
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
.cssDDMenu ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
	background:#ffffff;
}
.cssDDMenu ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.cssDDMenu li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
.cssDDMenu ul li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	color:#333;
	text-decoration:underline;
	}
.cssDDMenu li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
.cssDDMenu li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#efefef;
}





/*------------------------------------*\
	Carousel for recently removed
\*------------------------------------*/

/* recently removed */
#recentlyRemovedContainer	{height:93px; width:191px; position:absolute; top:428px; left:20px; background:url(mbo_conf_recentbg-191x93.png) no-repeat; z-index:1; display:none;}
.addLink	{color:#ff0000;}


#recentlyRemovedContainer .positionIt	{width:177px; height:50px; margin-top:32px; overflow:hidden; position:relative;} /* positions list inside container to account for bg image in container */
#recentlyRemovedContainer ul {margin:5px 20px 0 20px; padding:0; list-style:none;}

#recentlyRemovedProdlist	{position:relative; width:150px; z-index:10;}
#recentlyRemovedProdlistContainer .carousel ul	{list-style:none; margin:0; padding:0;}
#recentlyRemovedProdlistContainer .carousel li	{list-style:none; margin:0; padding:0; display:inline; float:left;} /* the slides */
#recentlyRemovedProdlistContainer .carouselBtn { z-index:1000;}
#recentlyRemovedProdlistContainer .carouselBtn a	{color:#000000; display:block;}


#carouselPreviousBtn	{position:absolute; top:20px; left:5px;}
#carouselNextBtn	{position:absolute; top:20px; right:1px;}

#recentlyRemovedProdlistNav { z-index: 50; position: absolute; top: 15px; left: 0px; width:100%; text-align:center; display:none;} /* set display:none to disable */
#recentlyRemovedProdlistNav a {
	margin: 0 5px; font-size:10px; color:#006600;
	text-decoration: none;
	width:15px; height:16px;
	display:inline-block;
	padding: 5px; border: 2px solid #fe8b21; background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}
#recentlyRemovedProdlistNav a:hover, #nav a.activeSlide { color: #fe8b21; }
#recentlyRemovedProdlistNav a:focus { outline: none; }

#recentlyRemovedProdlist .prodThumb	{width:35px; height:35px; float:left; margin:0 3px 0 0;}
